<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>phone gap buildjing</name>

	<description>
		尝试使用phone gap builder
	</description>

	<author href="http://www.sohu.com"
		email="darkloud@126.com">
		maxifeng
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
